 @font-face {
 	font-family: 'Publico Headline';
 	src: url('http://www.tagesanzeiger.ch/css/fonts/publico/PublicoHeadline-Medium-Web.woff');
 }

@font-face {
	font-family: 'Publico Text';
	src: url('http://www.tagesanzeiger.ch/css/fonts/publico/PublicoText-Roman-Web.woff');
}

@font-face {
	font-family: 'Benton Sans Cond';
	src: url('http://www.tagesanzeiger.ch/css/fonts/benton/7bb9e5d1-f5d9-4a09-8b5d-770aa2f4228e-3.woff');
}

@font-face {
	font-family: 'Benton Sans Cond Black';
	src: url('http://www.tagesanzeiger.ch/css/fonts/benton/3d37dcaf-9dfb-45f0-bd8f-a635fea92d0b-3.woff');
}

.input {
	float: left;
}

.legend-input {
	min-width: 50%;
}

input {
	padding-left: 2px;
}

button {
	background-color: #0085ab;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 14px;
}

.history > .pragraph-text {
	float: left;
}

table {
	font-family: 'Benton Sans Cond';
	font-size: 14px;
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	border: 1px solid #cbcbcb;
}

th, td {
	padding-left: 5px;
	padding-right: 5px;
}


th	 {
	background-color: #e0e0e0;
	color: #000;
	text-align: left;
	vertical-align: bottom;
}

td {
	 text-align: right;
	 vertical-align: bottom;
}

td.name {
	text-align: left;
}

.main {
	margin-top: 60px;
	margin-left: 13px;
	margin-right: 13px;
	margin-bottom: 13px;
}

.text-content {
	/*padding-bottom: 13px;*/
}

.main-title {
	font-family: 'Publico Headline';
	font-size: 24px;
	line-height: 26px;
	margin-top: 12px;
	margin-bottom: 12px;
	font-weight: normal;
}

.main-lead {
	font-family: 'Georgia';
	font-size: 20px;
	line-height: 26px;
	margin-top: 17px;
	margin-bottom: 25px;
	font-weight: normal;
	font-style: normal;
}

.main-author {
	font-family: 'Benton Sans Cond Black';
}

.paragraph-title {
	margin-top: 40px;
	margin-bottom: -10px;
}


.paragraph-text {
	font-family: Georgia;
	font-size: 18px;
	line-height: 26px;
	font-style: normal;
	font-weight: normal;
	margin-top: 15px;
}

.explanation > .paragraph-text, .explanation > .paragraph-title, .legend {
	font-family: 'Benton Sans Cond';
	font-size: 14px;
	line-height: 20px;
}

.explanation > .paragraph-title, .legend {
	margin-top: 20px;
}

#error {
	margin-bottom: 10px;
	min-height: 20px;
	font-style: italic;
}
.elected {
	color: #0085ab;
	font-size: 26px;
}

.fa-check-square {
	color: #0085ab;
	margin-left: 5px;
}
.fa-minus-square{
	color: #bf0712;	
}

.buttons {
	margin-bottom: -10px;
}
 
.candidate2 > .legend {
	margin-bottom: -20px;
 
}

img {
	width: 100%;
}

@media (min-width: 500px) {
	img {
		width: 500px;
	}

	.main {
		width: 500px;
		margin-left: auto;
		margin-right: auto;
	}

	.calculator {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}

}
/***************************-HEADER-****************************/

.logo {
	background-image: url(../img/sprite@2x.png);
    background-size: 376px 176px;
    background-position: -2px -91px;
    width: 140px;
    height: 41px;
    top: 9px!important;
	color: blue;
	z-index: 99;
}

#header {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 6px 12px rgba(0,0,0,.155);
    background-color: #fff;
    z-index: 10;
    height: 60px;
    font-family: "Benton Sans Cond";
    font-size: 16px
}

#header>.inside {
    position: relative
}

#header .logo {
    position: absolute;
    top: 12px;
    left: 20px
}

/****************************-CLEARFIX-****************************/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}